form {
    width: 100%;
}
.formwrap {
    display: flex;
    box-sizing: border-box;
    margin: 30px auto;
    max-width: 600px;
    border: 1px solid black;
    justify-content: flex-start;
    padding: 30px;
    background-color: #e8e8e8;
    font-size: 16px;
    font-family: monospace;
}


.formelement {
    margin-bottom: 10px;
    input, textarea {
        border: 2px solid #ccc;
        border-radius: 4px;
    }
}